*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.navbar{
    height:56px;
   width: 1550px;
    background-color:#ffffff;
    color: rgb(30, 30, 83);
    align-items: center;
    display: flex;
    position: fixed;
}
 #logo{
    height: 32px;
    width: 45px;
 }